.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-category-remove-link {
  color: white;
  transform: rotate(45deg);
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid white;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
  position: absolute;
  top: 8px;
  right: 8px;
  &:hover {
    opacity: 1;
  }
}

.card-powers {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 86%;
  span {
    border: 1px solid gray;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 300;
  }

  a {
    color: white;
    font-size: 16px;
  }
}
