<div class="container">

  <h1>Add an alien</h1>
  <%= simple_form_for([@planet, @alien]) do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
<%# NOT BEING USED %>
<%# FORM BEING DISPLAYED IN THE PLANETS#SHOW %>
